<p><%= link_to 'ツイートを投稿する', '/tweets/new' %></p>

<% if flash[:notice] %>
    <span style="color:green;">
        <%= flash[:notice] %>
    </span>
<% end %>

<% @tweet.each do |e| %>
    <p> 
        <%= e.message %> 
        <%= link_to '削除', "/tweets/#{e.id}", method: :delete %> 
    </p> <br>
<% end %>
