<p><%= link_to 'ユーザー登録する', '/users/new' %></p>

<% if flash[:notice] %>
    <span style="color:green;">
        <%= flash[:notice] %>
    </span>
<% end %>

<% @user.each do |e| %>
    <p> 
        <%= e.uid %> 
        <%= link_to '削除', "/users/#{e.id}", method: :delete %> 
    </p> 
<% end %>